
    <div class="modal-header">
        <h5 class="modal-title" id="modal-xl-Label">Change Password</label></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body"> 
        <!-- body -->
        <div class="row gy-2 gx-2 justify-content-center">
            <div class="col-md-12">
                <div class="form-floating">
                    <input type="password" class="form-control" id="oldPassword" placeholder="Password">
                    <label for="lastName">Old Password</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                    <input type="password" class="form-control" id="newPassword" placeholder="Password">
                    <label for="lastName">New Password</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                    <input type="password" class="form-control" id="confirmNewPassword" placeholder="Password">
                    <label for="lastName">Confirm New Password</label>
                </div>
            </div>
        </div>  
        <!-- ---- --> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="btnSubmitt">Submitt</button>
    </div> 

<script type="text/javascript">
    $(document).ready(function () 
    {
        $('#btnSubmitt').click(function (evt) 
        {
            evt.preventDefault();

            if ($('#oldPassword').val() == '') {
                swal.fire("Error", "Please provide OLD PASSWORD.", "error");
                return;
            }

            if ($('#newPassword').val() == '') {
                swal.fire("Error", "Please provide NEW PASSWORD.", "error");
                return;
            }

            if ($('#confirmNewPassword').val() == '') {
                swal.fire("Error", "Please provide CONFIRM NEW PASSWORD.", "error");
                return;
            }

            if ($('#newPassword').val() !== $('#confirmNewPassword').val())
            {
                swal.fire("Error", "NEW PASSWORD and CONFIRM NEW PASSWORD does not match.", "error");
                return;
            }

            //check min requiremets
            //(?=.* [0 - 9]): At least one digit
            //(?=.* [a - zA - Z]): At least one letter(uppercase or lowercase)
            //(?=.* [\W]): At least one non - alphanumeric character(symbol)
            //(?=.{ 8, }): At least eight characters in total
            var password_val = $('#newPassword').val();
            var regex = /^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[\W])(?=.{8,})/;

            if (regex.test(password_val)) {
                //check if old password is valid and if the new password is recycled(same with old). Then proceed with passsword change process
                changePassword(password_val);
            } else {
                swal.fire("Error", "NEW PASSWORD should contain at least 1 digit, 1 letter, 1 symbol, and atleast 8 characters", "error");
            }

            
            
        }); 
    });

    function changePassword(password_val) {
        $.LoadingOverlay("show", {
            image: "",
            custom: customElement
        });

        $.ajax({
            url: '/Login/ChangePassword',
            type: 'POST',
            data: { password: password_val },
            //processData: false,
            //contentType: false,
            // dataType: "html",
            beforeSend: function () {
            },
            success: function (response) {
                if (!response.status) {
                    swal.fire("Error", response.reason, "error");
                }
                else {
                    swal.fire("Success!",response.reason, "success")
                        .then(() => {
                            $('#modal-popup-lg').modal('hide')
                        });
                }
            },
            failure: function (errMsg) {
                swal.fire("Error", errMsg, "error");
            }
            ,complete: function () {
                $.LoadingOverlay('hide');
            }
        });
    }

    //function checkPasswordRequirement() {
    //    $.ajax({
    //        url: '/UserAccount/CheckPasswordValidity',
    //        type: 'GET',
    //        data: formdata,
    //        processData: false,
    //        contentType: false,
    //        //  dataType: "html",
    //        beforeSend: function () {
    //        },
    //        success: function (response) {
    //            if (!response.status) {
    //                swal.fire("Error", response.reason, "error");
    //            }
    //            else {
    //                swal.fire("Success!", "updated record", "success")
    //                    .then(() => {
    //                        //
    //                    });
    //            }
    //        },
    //        failure: function (errMsg) {
    //            swal.fire("Error", errMsg, "error");
    //        }
    //    });
    //}

</script>