
    <div class="modal-header">
        <h5 class="modal-title" id="modal-xl-Label">Forgot password?</label></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body"> 
        <!-- body -->
        <p>Don't worry! Just fill in your email and we'll send you a link to reset your password.</p>
        <hr>

        <div class="row gy-2 gx-2 justify-content-center"> 
            <div class="col-md-12">
                <div class="form-floating">
                    <input type="email" class="form-control" id="inputEmail" placeholder="email@lbcexpree.com">
                    <label for="lastName">Email</label>
                </div>
            </div>
        </div>  
        <!-- ---- --> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="btnSendLink">Send email link</button>
    </div> 

<script type="text/javascript">
    $(document).ready(function () 
    {
        $('#btnSendLink').click(function (evt) 
        {
            evt.preventDefault(); 

            $.LoadingOverlay("show", {
                image: "",
                custom: customElement
            });

            $.ajax({
                url: '/Login/SendPasswordResetEmail',
                type: 'POST',
                data: { email: $('#inputEmail').val() },
                //processData: false,
                //contentType: false,
                // dataType: "html",
                beforeSend: function () {
                },
                success: function (response) {
                    if (!response.status) {
                        swal.fire("Error", response.reason, "error");
                    }
                    else {
                        swal.fire("Success!", response.reason, "success")
                            .then(() => {
                                $('#modal-popup-lg').modal('hide')
                            });
                    }
                },
                failure: function (errMsg) {
                    swal.fire("Error", errMsg, "error");
                }
                , complete: function () {
                    $.LoadingOverlay('hide');
                }
            });

            
            
        }); 
    });

    function changePassword(password_val) {
        
    } 

</script>