
<div>
    <div class="row g-2"> 
        <div class="col-12">
            <div class="row">
                <div class="col-sm-auto text-end">
                    <label>Date as of:</label>
                </div>
                <div class="col-sm-auto">
                    <input id="date-asOf" type="date" class="form-control form-control-sm" />
                </div>
            </div> 
        </div> 
        <div class="col-sm-12"> 
            <button type="button" class="btn btn-sm btn-primary" onclick="ExecuteFilter('no');"><i class="fa fa-list"></i>Search</button>
            <button type="button" class="btn btn-sm btn-primary" onclick="ExportToExcelAcceptance();"><i class="fa fa-list"></i>Extract</button> 
        </div>
    </div> 
</div> 



<script>

    $(document).ready(function () {

    });

</script>


