@{
    ViewBag.Title = "Agent Balances";
}

<div class="mt-4">

    <div class="row gy-2">

        <div class="col-12 text-initial">
            <h2><a>@ViewBag.Title</a></h2>
        </div>
        <div class="col-auto text-initial"> 
            <div id="divResults-filterOptions"></div> 
        </div>

        <div class="col-12">

            <div class="card text-center">
                @* <div class="card-header"> </div> *@
                <div class="card-body"> 
                    <div class="row g-2">
                        <div class="col-sm-6">
                            <div class="card text-center">
                                <div class="divResults" id="divResults-payableList" style="height:450px!important;"></div>
                             </div> 
                        </div>
                        <div class="col-sm-6">
                            <div class="card text-center">
                                <div class="divResults" id="divResults-payableChart" style="height:450px!important;"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card text-center">
                                <div class="divResults" id="divResults-advanceList" style="height:450px!important;"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card text-center">
                                <div class="divResults" id="divResults-advanceChart" style="height:450px!important;"></div>
                            </div>
                        </div>
                    </div> 
                </div>
                @* <div class="card-footer text-muted">  </div> *@
            </div>
        </div>

    </div>

</div>


<script>
    var pageNum;
    var sortIndex;
    var sortDirection; 

    $(document).ready(function () { 
        viewFilterOptions();
        ExecuteFilter('yes');
    });

    function viewFilterOptions(options = null) {
        $.ajax({
            url: '/Report/ViewFilterOptions'
            , type: 'POST'
            , contentType: 'application/json; charset=utf-8;'
            , dataType: 'html'
            , success: function (response) {
                $('#divResults-filterOptions').html(response)
            }
            , complete: function () {

            }
        });
    }

    function ExportToExcelAcceptance() {
        $.LoadingOverlay("show", {
            image: "",
            custom: customElement
        });

        $.ajax({
            url: '/Granular/ExportToExcelAcceptance',
            type: 'GET',
            beforeSend: function () { },
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            success: function (response) {
                swal.fire("Success!", "List of Acceptance Details excel file will be exported to your downloads folder", "success")
                    .then(() => {
                        window.location = '@Url.Action("ExportToExcelAcceptance", "Granular")';
                    });
            },
            failure: function (errMsg) {
                swal.fire("Error", "Operation failed.", "error");
            },
            complete: function () {
                $.LoadingOverlay('hide');
            }
        });
    } 

    function ExecuteFilter(initialPageLoad) {
        ExecuteFilterPayable(initialPageLoad);
        ExecuteFilterAdvance(initialPageLoad);
    }

    function ExecuteFilterPayable(initialPageLoad) { 
        ViewPayableList(initialPageLoad);
        ViewPayableChart(initialPageLoad);
    } 

    function ExecuteFilterAdvance(initialPageLoad) {
        ViewAdvanceList(initialPageLoad);
        ViewAdvanceChart(initialPageLoad);
    }

    function ViewPayableList(initialPageLoad) {
        var dateAsOf = $('#date-asOf').val();  
        $('#divResults-payableList').LoadingOverlay("show", {
            image: "",
            custom: customElement
        });
        $.ajax({
            url: '/Report/SearchAgentBalances_Payable'
            , type: 'POST'
            , data: { DateAsOf: dateAsOf, initialPageLoad:initialPageLoad }
            , dataType: 'html'
            , success: function (response) {
                $('#divResults-payableList').html(response);
            }
            , complete: function () {
                $('#divResults-payableList').LoadingOverlay('hide');
            }
        });
    }

    function ViewPayableChart(initialPageLoad) {
        var _dateAsOf = $('#date-asOf').val();
        $('#divResults-payableChart').LoadingOverlay("show", {
            image: "",
            custom: customElement
        });
        $.ajax({
            url: '/Report/ViewChartAgentBalances_Payable'
            , type: 'POST'
            , data: { DateAsOf: _dateAsOf, initialPageLoad: initialPageLoad }
            , dataType: 'html'
            , success: function (response) {
                $('#divResults-payableChart').html(response);
            }
            , complete: function () {
                $('#divResults-payableChart').LoadingOverlay('hide');
            }
        });
    }

    function ViewAdvanceList(initialPageLoad) {
        var dateAsOf = $('#date-asOf').val();
        $('#divResults-advanceList').LoadingOverlay("show", {
            image: "",
            custom: customElement
        });
        $.ajax({
            url: '/Report/SearchAgentBalances_Advance'
            , type: 'POST'
            , data: { DateAsOf: dateAsOf, initialPageLoad: initialPageLoad }
            , dataType: 'html'
            , success: function (response) {
                $('#divResults-advanceList').html(response);
            }
            , complete: function () {
                $('#divResults-advanceList').LoadingOverlay('hide');
            }
        });
    }
    function ViewAdvanceChart(initialPageLoad) {
        var _dateAsOf = $('#date-asOf').val();
        $('#divResults-advanceChart').LoadingOverlay("show", {
            image: "",
            custom: customElement
        });
        $.ajax({
            url: '/Report/ViewChartAgentBalances_Advance'
            , type: 'POST'
            , data: { DateAsOf: _dateAsOf, initialPageLoad: initialPageLoad }
            , dataType: 'html'
            , success: function (response) {
                $('#divResults-advanceChart').html(response);
            }
            , complete: function () {
                $('#divResults-advanceChart').LoadingOverlay('hide');
            }
        });
    }

</script>


