

<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts_reports" aria-expanded="false" aria-controls="collapseLayouts_granular">
    <div class="sb-nav-link-icon"><i class="fas fa-circle-info"></i></div>
    REPORTS
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="collapseLayouts_reports" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" asp-controller="Report" asp-action="AgentBalances">Agent Balances</a>
        <a class="nav-link" asp-controller="Report" asp-action="AgentListing">Agent Listing</a>
    </nav>
</div>


<script>

</script>


