


@* <a class="nav-link" asp-controller="Soa" asp-action="Index"> <div class="sb-nav-link-icon"><i class="fas fa-file-invoice"></i></div> SOA </a> *@

<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts_parent" aria-expanded="false" aria-controls="collapseLayouts_granular">
    <div class="sb-nav-link-icon"><i class="fas fa-circle-info"></i></div>
    SOA
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="collapseLayouts_parent" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" asp-controller="SOA" asp-action="SOAFormatA">SOA Format A</a>
        <a class="nav-link" asp-controller="SOA" asp-action="SOAFormatB">SOA Format B</a>
    </nav>
</div>

<script>

</script>

