/*default height for unknown height*/
.adaptive-height-WithFiveLayerHeader {
    height: calc(100vh - 383px);
    /*height: 59vh !important;*/
    /*height: 570px !important;*/
}

.adaptive-height-WithFourLayerHeader {
    /*height: 601px !important;*/
    height: calc(100vh - 352px);
}

.adaptive-height-WithFourLayerHeader-SubContainer1 {
    /*height: 510px !important;*/
    height: calc(100vh - 443px);
}


/* Adaptive height for modules w 5 layer header */
/*for 1080p screen hight*/

/*@media (min-height: 924px) and (max-height: 953px) {
    .adaptive-height-WithFiveLayerHeader {
        height: 59.8vh !important;
    }
}*/
/*for 1050p*/
/*@media (min-height: 898px) and (max-height: 923px) {
    .adaptive-height-WithFiveLayerHeader {
        height: 540px !important;
    }
}*/

/*for 1025p*/
/*@media (min-height: 834px) and (max-height: 897px) {
    .adaptive-height-WithFiveLayerHeader {
        height: 514px !important;
    }
}*/ 
/*for 960p*/
/*@media (min-height: 774px) and (max-height: 833px) {
    .adaptive-height-WithFiveLayerHeader {
        height: 450px !important;
    }
}*/ 
/*for 900p*/
/*@media (min-height: 773px) and (max-height: 773px) {
    .adaptive-height-WithFiveLayerHeader {
        height: 390px !important;
    }
}*/ 


/*adaptive height for modules w 4 layer header */
/*for 1080p screen hight*/
/*@media (min-height: 924px) and (max-height: 953px) {
    .adaptive-height-WithFourLayerHeader {
        height: 601px !important;
    } 
    .adaptive-height-WithFourLayerHeader-SubContainer1 { 
        height: 510px !important;
    }
}*/

/*for 1050p*/
/*@media (min-height: 898px) and (max-height: 923px) {
    .adaptive-height-WithFourLayerHeader {
        height: 571px !important;
    }
    .adaptive-height-WithFourLayerHeader-SubContainer1 {
        height: 480px !important;
    }
}*/

/*for 1025p*/
/*@media (min-height: 834px) and (max-height: 897px) {
    .adaptive-height-WithFourLayerHeader {
        height: 545px !important;
    }
    .adaptive-height-WithFourLayerHeader-SubContainer1 {
        height: 454px !important;
    }
}*/

/*for 960p*/
/*@media (min-height: 774px) and (max-height: 833px) {
    .adaptive-height-WithFourLayerHeader {
        height: 481px !important;
    }
    .adaptive-height-WithFourLayerHeader-SubContainer1 {
        height: 390px !important;
    }
}*/

/*for 900p*/
/*@media (min-height: 600px) and (max-height: 773px) {
    .adaptive-height-WithFourLayerHeader {
        height: 421px !important;
    }
    .adaptive-height-WithFourLayerHeader-SubContainer1 {
        height: 330px !important;
    }
}*/ 